In [1]:
import numpy as np
import pandas as pd

In [2]:
#dataset link :- https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on = 'title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [8]:
movies = movies [['movie_id','title','overview','genres', 'keywords', 'cast', 'crew']]

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [17]:
movies['keywords'] = movies['keywords'].apply(convert)

In [18]:
def convert3(obj):
    L = []
    counter =0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [19]:
movies['cast'] = movies['cast'].apply(convert3)

In [20]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [21]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [22]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [23]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [24]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [25]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [27]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [29]:
new_df = movies[['movie_id', 'title', 'tags']]

In [30]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
# converting list to string
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join (x))

C:\Users\aatmi\AppData\Local\Temp\ipykernel_14688\1768241834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join (x))

In [32]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [33]:
new_df['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\aatmi\AppData\Local\Temp\ipykernel_14688\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

## Vectorization

In [35]:
import nltk

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words ='english')

In [37]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [38]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
cv.get_feature_names_out()[:500]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '18', '18th', '19', '1930s', '1940s', '1950', '1950s',
       '1960s', '1970s', '1980', '1980s', '1985', '1990s', '1999', '19th',
       '19thcentury', '20', '200', '2009', '20th', '24', '25', '30',
       '300', '3d', '40', '50', '500', '60', '60s', '70', '70s', 'aaron',
       'aaroneckhart', 'abandoned', 'abducted', 'abigailbreslin',
       'abilities', 'ability', 'able', 'aboard', 'abuse', 'abusive',
       'academy', 'accept', 'accepted', 'accepts', 'access', 'accident',
       'accidental', 'accidentally', 'accompanied', 'accomplish',
       'account', 'accountant', 'accused', 'ace', 'achieve', 'act',
       'acting', 'action', 'actionhero', 'actions', 'activist',
       'activities', 'activity', 'actor', 'actors', 'actress', 'acts',
       'actual', 'actually', 'adam', 'adams', 'adamsandler',
       'adamshankman', 'adaptation', 'adapted', 'addict', 'addicted',
       'addiction', 'adolescence', 'adolescent', 'adopt', 'adopted',
       'adoption', 'adopts', 'adrienbrody', 'adult', 'adultanimation',
       'adultery', 'adulthood', 'adults', 'advantage', 'adventure',
       'adventures', 'advertising', 'advice', 'affair', 'affairs',
       'affection', 'affections', 'afghanistan', 'africa', 'african',
       'africanamerican', 'aftercreditsstinger', 'afterlife', 'aftermath',
       'age', 'aged', 'agedifference', 'agency', 'agenda', 'agent',
       'agents', 'aggressive', 'aging', 'ago', 'agree', 'agrees', 'ahead',
       'aid', 'aided', 'aids', 'ailing', 'air', 'airplane',
       'airplanecrash', 'airport', 'aka', 'al', 'alabama', 'alan',
       'alaska', 'albert', 'alcohol', 'alcoholic', 'alcoholism',
       'alecbaldwin', 'alex', 'alfredhitchcock', 'ali', 'alice', 'alien',
       'alieninvasion', 'alienlife', 'aliens', 'alike', 'alive', 'allen',
       'alliance', 'allied', 'allies', 'allow', 'allowing', 'allows',
       'ally', 'alongside', 'alpacino', 'alpha', 'alter', 'alternate',
       'alternative', 'alzheimer', 'amanda', 'amandapeet',
       'amandaseyfried', 'amateur', 'amazing', 'ambassador', 'ambition',
       'ambitious', 'ambulance', 'ambush', 'america', 'american',
       'americanabroad', 'americanfootball', 'americans', 'amid',
       'amidst', 'amnesia', 'amp', 'amsterdam', 'amusementpark', 'amy',
       'amyadams', 'amysmart', 'ana', 'anakin', 'analyst',
       'anarchiccomedy', 'ancient', 'ancientrome', 'ancientworld',
       'anderson', 'andiemacdowell', 'andrew', 'android', 'andy',
       'andygarcÃ­a', 'angel', 'angelabassett', 'angeles', 'angelinajolie',
       'angels', 'anger', 'anglee', 'angry', 'animal', 'animalattack',
       'animalhorror', 'animals', 'animated', 'animation', 'anna',
       'annafaris', 'anne', 'annehathaway', 'annemoss', 'annettebening',
       'annie', 'anniversary', 'annual', 'answer', 'answers', 'ant',
       'anthology', 'anthony', 'anthonyanderson', 'anthonyhopkins',
       'anthropomorphism', 'anti', 'antics', 'antihero', 'antoinefuqua',
       'antoniobanderas', 'antonyelchin', 'apart', 'apartheid',
       'apartment', 'ape', 'apes', 'apocalypse', 'apocalyptic',
       'apparent', 'apparently', 'appear', 'appears', 'apple',
       'appointed', 'apprentice', 'approach', 'approaches', 'approaching',
       'april', 'aquarium', 'arab', 'arch', 'archaeologist', 'architect',
       'arctic', 'area', 'aren', 'arena', 'argument', 'arise',
       'aristocrat', 'armed', 'arms', 'army', 'arnold',
       'arnoldschwarzenegger', 'arrangedmarriage', 'arrest', 'arrested',
       'arrival', 'arrive', 'arrives', 'arriving', 'arrogant', 'art',
       'arthur', 'artificialintelligence', 'artist', 'artistic',
       'artists', 'arts', 'ashley', 'ashleyjudd', 'ashtonkutcher', 'asia',
       'asian', 'aside', 'ask', 'asked', 'asking', 'asks', 'aspirations',
       'aspiring', 'assassin', 'assassinate', 'assassination',
       'assassins', 'assault', 'assigned', 'assignment', 'assistant',
       'assumes', 'asteroid', 'astronaut', 'astronauts', 'asylum',
       'athlete', 'atomicbomb', 'attack', 'attacked', 'attacks',
       'attempt', 'attempting', 'attempts', 'attending', 'attends',
       'attention', 'attitude', 'attorney', 'attracted', 'attraction',
       'attractive', 'audience', 'audiences', 'audition', 'august',
       'aunt', 'austin', 'australia', 'australian', 'author',
       'authorities', 'authority', 'autism', 'auto', 'automobileracing',
       'avenge', 'average', 'avoid', 'awaits', 'awakens', 'award', 'away',
       'awry', 'ax', 'babe', 'baby', 'bachelor', 'backdrop', 'backed',
       'background', 'backgrounds', 'bad', 'badly', 'bag', 'bahamas',
       'bail', 'balance', 'ball', 'ballet', 'baltimore', 'band',
       'bandits', 'bangkok', 'banished', 'bank', 'banker', 'bankrobber',
       'bankrobbery', 'bar', 'barely', 'bargained', 'barn', 'barney',
       'barry', 'barrylevinson', 'bars', 'base', 'baseball', 'based',
       'basedoncomicbook', 'basedongraphicnovel', 'basedonnovel',
       'basedonplay', 'basedonstagemusical', 'basedontrueevents',
       'basedontruestory', 'basedontvseries', 'basedonvideogame',
       'basedonyoungadultnovel', 'basement', 'basketball', 'batman',
       'battle', 'battlefield', 'battles', 'battling', 'bay', 'beach',
       'bear', 'bears', 'beast', 'beasts', 'beat', 'beating', 'beautiful',
       'beautifulwoman', 'beauty', 'becky', 'becominganadult', 'bed',
       'bedroom', 'beer', 'befriends', 'began', 'begin', 'beginning',
       'begins', 'behavior', 'beings', 'beliefs', 'believe', 'believed',
       'believes', 'believing', 'beloved', 'ben', 'benaffleck', 'beneath',
       'benfoster', 'beniciodeltoro', 'benjamin', 'benjaminbratt',
       'benkingsley', 'bennett', 'benstiller', 'bent', 'berlin', 'best',
       'bestfriend', 'bestfriendsinlove', 'bet', 'beth', 'betrayal',
       'betrayed', 'bettemidler', 'better', 'betty', 'beverly', 'bible',
       'big', 'bigger', 'biggest', 'biker', 'bikini', 'billhader',
       'billionaire', 'billmurray', 'billnighy', 'billpaxton',
       'billpullman', 'billy', 'billybobthornton', 'billycrudup',
       'billycrystal', 'biography', 'bird', 'birth', 'birthday',
       'bisexual', 'bishop', 'bit', 'bite', 'bitter', 'bizarre', 'black',
       'blackmagic', 'blackmail', 'blackpeople', 'blacksmith', 'blade'],
      dtype=object)

In [40]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

In [41]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [42]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [43]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [44]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\aatmi\AppData\Local\Temp\ipykernel_14688\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [45]:
cv.get_feature_names_out()[:500] # For newer versions of scikit-learn (1.0+)

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '18', '18th', '19', '1930s', '1940s', '1950', '1950s',
       '1960s', '1970s', '1980', '1980s', '1985', '1990s', '1999', '19th',
       '19thcentury', '20', '200', '2009', '20th', '24', '25', '30',
       '300', '3d', '40', '50', '500', '60', '60s', '70', '70s', 'aaron',
       'aaroneckhart', 'abandoned', 'abducted', 'abigailbreslin',
       'abilities', 'ability', 'able', 'aboard', 'abuse', 'abusive',
       'academy', 'accept', 'accepted', 'accepts', 'access', 'accident',
       'accidental', 'accidentally', 'accompanied', 'accomplish',
       'account', 'accountant', 'accused', 'ace', 'achieve', 'act',
       'acting', 'action', 'actionhero', 'actions', 'activist',
       'activities', 'activity', 'actor', 'actors', 'actress', 'acts',
       'actual', 'actually', 'adam', 'adams', 'adamsandler',
       'adamshankman', 'adaptation', 'adapted', 'addict', 'addicted',
       'addiction', 'adolescence', 'adolescent', 'adopt', 'adopted',
       'adoption', 'adopts', 'adrienbrody', 'adult', 'adultanimation',
       'adultery', 'adulthood', 'adults', 'advantage', 'adventure',
       'adventures', 'advertising', 'advice', 'affair', 'affairs',
       'affection', 'affections', 'afghanistan', 'africa', 'african',
       'africanamerican', 'aftercreditsstinger', 'afterlife', 'aftermath',
       'age', 'aged', 'agedifference', 'agency', 'agenda', 'agent',
       'agents', 'aggressive', 'aging', 'ago', 'agree', 'agrees', 'ahead',
       'aid', 'aided', 'aids', 'ailing', 'air', 'airplane',
       'airplanecrash', 'airport', 'aka', 'al', 'alabama', 'alan',
       'alaska', 'albert', 'alcohol', 'alcoholic', 'alcoholism',
       'alecbaldwin', 'alex', 'alfredhitchcock', 'ali', 'alice', 'alien',
       'alieninvasion', 'alienlife', 'aliens', 'alike', 'alive', 'allen',
       'alliance', 'allied', 'allies', 'allow', 'allowing', 'allows',
       'ally', 'alongside', 'alpacino', 'alpha', 'alter', 'alternate',
       'alternative', 'alzheimer', 'amanda', 'amandapeet',
       'amandaseyfried', 'amateur', 'amazing', 'ambassador', 'ambition',
       'ambitious', 'ambulance', 'ambush', 'america', 'american',
       'americanabroad', 'americanfootball', 'americans', 'amid',
       'amidst', 'amnesia', 'amp', 'amsterdam', 'amusementpark', 'amy',
       'amyadams', 'amysmart', 'ana', 'anakin', 'analyst',
       'anarchiccomedy', 'ancient', 'ancientrome', 'ancientworld',
       'anderson', 'andiemacdowell', 'andrew', 'android', 'andy',
       'andygarcÃ­a', 'angel', 'angelabassett', 'angeles', 'angelinajolie',
       'angels', 'anger', 'anglee', 'angry', 'animal', 'animalattack',
       'animalhorror', 'animals', 'animated', 'animation', 'anna',
       'annafaris', 'anne', 'annehathaway', 'annemoss', 'annettebening',
       'annie', 'anniversary', 'annual', 'answer', 'answers', 'ant',
       'anthology', 'anthony', 'anthonyanderson', 'anthonyhopkins',
       'anthropomorphism', 'anti', 'antics', 'antihero', 'antoinefuqua',
       'antoniobanderas', 'antonyelchin', 'apart', 'apartheid',
       'apartment', 'ape', 'apes', 'apocalypse', 'apocalyptic',
       'apparent', 'apparently', 'appear', 'appears', 'apple',
       'appointed', 'apprentice', 'approach', 'approaches', 'approaching',
       'april', 'aquarium', 'arab', 'arch', 'archaeologist', 'architect',
       'arctic', 'area', 'aren', 'arena', 'argument', 'arise',
       'aristocrat', 'armed', 'arms', 'army', 'arnold',
       'arnoldschwarzenegger', 'arrangedmarriage', 'arrest', 'arrested',
       'arrival', 'arrive', 'arrives', 'arriving', 'arrogant', 'art',
       'arthur', 'artificialintelligence', 'artist', 'artistic',
       'artists', 'arts', 'ashley', 'ashleyjudd', 'ashtonkutcher', 'asia',
       'asian', 'aside', 'ask', 'asked', 'asking', 'asks', 'aspirations',
       'aspiring', 'assassin', 'assassinate', 'assassination',
       'assassins', 'assault', 'assigned', 'assignment', 'assistant',
       'assumes', 'asteroid', 'astronaut', 'astronauts', 'asylum',
       'athlete', 'atomicbomb', 'attack', 'attacked', 'attacks',
       'attempt', 'attempting', 'attempts', 'attending', 'attends',
       'attention', 'attitude', 'attorney', 'attracted', 'attraction',
       'attractive', 'audience', 'audiences', 'audition', 'august',
       'aunt', 'austin', 'australia', 'australian', 'author',
       'authorities', 'authority', 'autism', 'auto', 'automobileracing',
       'avenge', 'average', 'avoid', 'awaits', 'awakens', 'award', 'away',
       'awry', 'ax', 'babe', 'baby', 'bachelor', 'backdrop', 'backed',
       'background', 'backgrounds', 'bad', 'badly', 'bag', 'bahamas',
       'bail', 'balance', 'ball', 'ballet', 'baltimore', 'band',
       'bandits', 'bangkok', 'banished', 'bank', 'banker', 'bankrobber',
       'bankrobbery', 'bar', 'barely', 'bargained', 'barn', 'barney',
       'barry', 'barrylevinson', 'bars', 'base', 'baseball', 'based',
       'basedoncomicbook', 'basedongraphicnovel', 'basedonnovel',
       'basedonplay', 'basedonstagemusical', 'basedontrueevents',
       'basedontruestory', 'basedontvseries', 'basedonvideogame',
       'basedonyoungadultnovel', 'basement', 'basketball', 'batman',
       'battle', 'battlefield', 'battles', 'battling', 'bay', 'beach',
       'bear', 'bears', 'beast', 'beasts', 'beat', 'beating', 'beautiful',
       'beautifulwoman', 'beauty', 'becky', 'becominganadult', 'bed',
       'bedroom', 'beer', 'befriends', 'began', 'begin', 'beginning',
       'begins', 'behavior', 'beings', 'beliefs', 'believe', 'believed',
       'believes', 'believing', 'beloved', 'ben', 'benaffleck', 'beneath',
       'benfoster', 'beniciodeltoro', 'benjamin', 'benjaminbratt',
       'benkingsley', 'bennett', 'benstiller', 'bent', 'berlin', 'best',
       'bestfriend', 'bestfriendsinlove', 'bet', 'beth', 'betrayal',
       'betrayed', 'bettemidler', 'better', 'betty', 'beverly', 'bible',
       'big', 'bigger', 'biggest', 'biker', 'bikini', 'billhader',
       'billionaire', 'billmurray', 'billnighy', 'billpaxton',
       'billpullman', 'billy', 'billybobthornton', 'billycrudup',
       'billycrystal', 'biography', 'bird', 'birth', 'birthday',
       'bisexual', 'bishop', 'bit', 'bite', 'bitter', 'bizarre', 'black',
       'blackmagic', 'blackmail', 'blackpeople', 'blacksmith', 'blade'],
      dtype=object)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
similarity = cosine_similarity(vectors)

In [48]:
cosine_similarity(vectors).shape

(4806, 4806)

In [50]:
new_df[new_df['title']== 'Batman Begins'].index[0]

119

#### sorted(similarity[0],reverse = True)

#### But index position will, to hold the index postion as well we'll use "Enumerate" function

#### --> Key = lambda x:x[1] sorting is done on 2nd part of list.

In [51]:
sorted(list(enumerate(similarity[0])),reverse =True,key = lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943)]

In [59]:
def recommend(movie):
    movie_index = new_df[new_df['title']== movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse =True,key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [61]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [56]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [62]:
import pickle

In [64]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [65]:
pickle.dump(similarity,open('similarity.pkl','wb'))